extends ../layout

block content
    .page-header
        h2 Carreras
    .col-md-11.col-centered
        - for (var i = 0; i < carreras.length; i++)
            .list-group(id = "carrera_#{i}")
                .list-group-item
                    h4.list-group-item-heading= carreras[i].nombre
                    br
                    p.list-group-item-text !{carreras[i].descripcion}
