.col-centered{
    float: none;
    margin: 0 auto;
}

.answer-radio {
	padding: 0px 20px;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: inherit;
}

.btn-primary:active,
.btn-primary:focus {
	background-color: #398439;
}

.col-right{
    float: right;
    margin: 0 auto;
}