extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h1 Test Vocacional
            p
              | A continuación podrá ingresar el resultado de la evaluación para que la información sea analizada y así saber el resultado óptimo.
            p
                a.btn.btn-primary.btn-lg(href="/analisis") Comenzar »