extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h1 Test Vocacional
            p
                | El propósito del programa que se encuentra frente a usted, es el de servir como una ayuda para validar decisiones tomadas por profesionales en el área de la psicología, más precisamente especializados en la tarea de orientación vocacional hacia jóvenes de edades comprendidas entre los 17 y 20 años, que esten interesados en comenzar una carrera universitaria con fuerte contenido de ciencias duras, y no tengan esclarecido cual de ellas elegir.
            p
                | Para esto, se tomaron carreras correspondiente a la facultad de Ciencias Naturales y la facultad de Ingeniería, entes que pertencen a la Universidad de Buenos Aires.
            p
                | El presente programa NO pretende suplantar al profesional en la realización de la tarea mencionada, solamente se intenta brindarle una base de conocimientos obtenida por medio de la
                a(href="http://oa.upm.es/1057/1/JOSE_DOMINGO_CARRILLO_VERDUN.pdf")  metodología IDEAL
                |  que lo ayude y acompañe en la realización de su tarea. <b> El profesional es el usuario que va a tener este programa, NO los jóvenes a quienes el experto entrevistará.</b>
            p
                | En el uso del programa, será necesario que el experto que lo este usando cargué información que el deberá obtener del jóven entrevistado, con las herramientas que le provee el campo de su experticia (tales como entrevistas y diferentes tipos de tests considerados como válidos por la profesión).
            p
                | Presentamos un sistema experto cuyo objetivo es determinar la finidad de una persona a una carrera determinada de acuerdo a sus aptitudes.
    .container
        .row(style="text-align: center;")
            .col-lg-4
                img.img-circle(src='/images/angelani.jpg')
                h2 Pablo Angelani
                p
                    | <b> 92.707 </b>
                p
                    | <b> pablo.angelani@gmail.com </b>
            .col-lg-4
                img.img-circle(src='',data-src="holder.js/150x150")
                h2 Florencia Bosch
                p
                    | <b> 91.867 </b>
                p
                    | <b> florbosch128@gmail.com </b>
            .col-lg-4
                img.img-circle(src='/images/musumeci.jpg')
                h2 Pablo Musumeci
                p
                    | <b> 92.165 </b>
                p
                    | <b> pablomusumeci@yahoo.com.ar </b>